# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.env.*

# Virtual environments
venv/
.venv/

# Docker
*.log
docker-compose.override.yml

# Kubernetes
*.kubeconfig

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Build / cache
dist/
build/
*.egg-info/
